<% include ./partials/header %>
<h1>All Blogs</h1>
<hr>
<% blogs.forEach(function (blog){ %>
  <div>
    <img src="<%= blog.image %>">
    <h2><%= blog.title %></h2>
    <p><%= blog.body %></p>
  </div>
<% }) %>

<% include ./partials/footer %>
